@model List<OgrenciModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Okul No</th>
            <th scope="col">İsim Soyisim</th>
            <th scope="col">Sınıfı</th>
            <th scope="col">E-Posta</th>
            <th scope="col">Alanı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var talebe in Model)
        {
            <tr>
                <th scope="row">@talebe.OkulNo</th>
                <td>@talebe.IsimSoyisim </td>               
                <td>@talebe.Sinifi</td>
                <td>@talebe.Eposta</td>
                <td>@talebe.Alani</td>
            </tr>
        }
    </tbody>
</table>